<div class="nav-list-container">
    <ul class="nav-list">
        <li class="nav-list-item list-link" [routerLink]="['/user']" routerLinkActive="navlink-active" >
            <i class="fi-br-mode-portrait nav-list-item-icon"></i>
            <span class="nav-item-label" >Profile</span>
        </li>
        <li class="nav-list-item list-link" [routerLink]="['/search']" routerLinkActive="navlink-active" >
            <i class="fi-br-search nav-list-item-icon"></i>
            <span class="nav-item-label" >Search</span>
        </li>
        <li class="nav-list-item list-link" [routerLink]="['/chats']" routerLinkActive="navlink-active" >
            <i class="fi-br-list nav-list-item-icon"></i>
            <span class="nav-item-label" >Chats</span>
        </li>
    </ul>
    <div class="nav-list-block-container list-link" (click)="this.logoutUser()">
        <i class="fi-br-sign-out nav-list-item-icon"></i>
        <span class="nav-item-label" >Logout</span>
    </div>
</div>