<div class="chat-component-container">
    <div class="chat-list-container">

        <div class="chat-list-serachfield-container">
            <div class="searchfield-container">
                <i class="fi-br-search"></i>
                <input type="text" class="search-input" placeholder="Search for chats..." />
            </div>
        </div>

        <div class="chat-list-block">

            <div class="category-container">
                <p class="category-name" >DIRECT MESSAGES</p>
                <i class="fi-br-plus category-add-button" [routerLink]="['/search']"></i>
            </div>
            
            <ul class="chat-list">
                <li *ngFor="let chat of this.userChats" class="chat-element" [routerLink]="['/chats/messages/' + chat.chatId]" routerLinkActive="chat-element-selected" >
                    <div class="user-rounded-container">
                        <div class="round-container" [style.background-color]="chat.chatColors.background" >
                            <span *ngIf="chat.recipient.imageUrl == '' " [style.color]="chat.chatColors.text" >{{this.getUserInitials(chat.recipient.name)}}</span>
                            <img *ngIf="chat.recipient.imageUrl != '' " [src]="chat.recipient.imageUrl" />
                        </div>
                    </div>
                    <div class="user-name-container">
                        <p class="user-name">{{chat.recipient.name}}</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="no-chat-container" *ngIf="this.noChildRoute">
        <h3 sty class="no-chat-message">Select chat to start messaging</h3>
    </div>

    <router-outlet></router-outlet>

</div>