<div class="chat-container">

    <div class="chat-title-container">
        <div class="chat-title-recipient-round-container">
            <div class="recipient-round" *ngIf="this.recipientColor != undefined" [style.background-color]="this.recipientColor.background">
                <span *ngIf="this.recipient.imageUrl == '' " [style.color]="this.recipientColor.text" >{{this.getUserInitials(this.recipient.name)}}</span>
                <img *ngIf="this.recipient.imageUrl != '' " [src]="this.getServerUrl() + this.recipient.imageUrl" />
            </div>
        </div>
        <div class="chat-title" *ngIf="this.recipient != undefined">
            <h3 class="recipient-title-name">{{this.recipient.name}}</h3>
            <p class="recipient-title-info" >Last login: {{this.lastRecipientLoginDate | date: 'dd.MM.yyyy'}} </p>
        </div>
        <div class="chat-options-button-container" style="padding: 10px 16px;">
            <button class="chat-options-button" (click)="this.openInfo()" ><i class="fi fi-br-menu-dots" style="font-size: 11px; height: 10px;"></i></button>
        </div>
    </div>

    <div class="chat-messages-container" >
        <div *ngFor="let message of this.chatMessages" class="message-block-container" [ngClass]="{ 'message-block-container-recipient' : (message.sender !== this.currentUser.userObject.id) , 'message-block-container-user' : (message.sender === this.currentUser.userObject.id) }">
            <div class="message-block" [ngClass]="{ 'message-recipient' : (message.sender != this.currentUser.userObject.id), 'message-user' : (message.sender == this.currentUser.userObject.id) }" >
                <p class="message" >{{message.messageContent}}</p>
            </div>
            <p class="message-sent-date" >{{message.sentDate | date: 'dd.MM HH:mm' }}</p>
        </div>
    </div>

    <div class="message-create-container" >
        <div class="message-create">
            <textarea class="message-create-value" placeholder="Send message" [rows]="this.messageRowsCount" [(ngModel)]="this.messageText" (keydown.enter)="this.sendMessage()" (input)="this.messageSizeCheck()" ></textarea>
            <div class="message-create-controls">
                <div class="message-create-controls-button">
                    <i class="fi-br-paper-plane icon-send-button" aria-label="Send message" style="height: 16px;" (click)="this.sendMessage()"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-info-close-overlay" *ngIf="this.showInfo" (click)="this.closeInfo()" ></div>

</div>
<div class="chat-info-container" [ngClass]="{'chat-info-container-hidden': !this.showInfo}" >

    <div class="chat-info-title-container">
        <div class="chat-title" style="flex-direction: row;">
            <div style="width: 100%;">
                <h3 class="recipient-title-name">Chat info</h3>
                <p class="recipient-title-info" >2 members</p>
            </div>
            <div class="chat-options-button-container">
                <button class="chat-options-button" (click)="this.closeInfo()" ><i class="fi-br-cross" style="font-size: 11px; height: 10px;" ></i></button>
            </div>
        </div>
    </div>

    <div class="chat-info" >

        <div class="chat-info-category-container">
            <div class="chat-info-category-name-container">
                <p class="category-name" >Members</p>
            </div>
    
            <div class="chat-info-category-content-container">
                <div class="chat-info-member-container">
                    <div class="user-rounded-container">
                        <div class="round-container" *ngIf="this.recipientColor != undefined" [style.background-color]="this.recipientColor.background" >
                            <span *ngIf="this.recipient.imageUrl == '' " [style.color]="this.recipientColor.text" >{{this.getUserInitials(this.recipient.name)}}</span>
                            <img *ngIf="this.recipient.imageUrl != '' " [src]="this.getServerUrl() + this.recipient.imageUrl" />
                        </div>
                    </div>
                    <div class="user-name-container">
                        <p class="user-name">{{this.recipient.name}}</p>
                    </div>
                </div>
                <div class="chat-info-member-container">
                    <div class="user-rounded-container">
                        <div class="round-container" *ngIf="this.currentUserColor != undefined" [style.background-color]="this.currentUserColor.background" >
                            <span *ngIf="this.currentUser.userObject.imageUrl == '' " [style.color]="this.currentUserColor.text" >{{this.getUserInitials(this.currentUser.userObject.name)}}</span>
                            <img *ngIf="this.currentUser.userObject.imageUrl != '' " [src]="this.getServerUrl() + this.currentUser.userObject.imageUrl" />
                        </div>
                    </div>
                    <div class="user-name-container">
                        <p class="user-name">{{this.currentUser.userObject.name}} <span style="color: #555;">(You)</span></p>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="chat-info-category-container">
            <div class="chat-info-category-name-container">
                <p class="category-name" >Options</p>
            </div>
    
            <div class="chat-info-category-content-container">
                <div class="chat-info-category-content-buttons-container">
                    <button class="chat-info-button button-red">Delete chat</button>
                </div>
            </div>
        </div>
        
    </div>

</div>