.app-container {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.app-navigation {
    background-color: var(--app-background-primary);
    width: 70px;
    flex-shrink: 0;
}

.app-content {
    width: 100%;
    height: 100%;
    position: relative;
}